:root {
    --bs-primary-rgb: 255, 90, 115 !important;
    --bs-secondary-rgb: 255, 109, 24 !important;
    --bs-border-color: #a6a6a6;
    /* --primary-dark: #f01d6e;
    --secondary-dark: #ff6608; */
    

    --bs-navbar-color: rgba(255, 255, 255, 0.75) !important;
    --bs-navbar-hover-color: white !important;

    
    --secondary-transparent: #ffe1cf;

    --yellow-layer: rgba(255, 255, 0, 0.4);
    --bs-gradient: linear-gradient(to bottom, transparent , var(--yellow-layer)) !important;
}

.bg-gradient-reverse {
    background-image: linear-gradient(to top, transparent , var(--yellow-layer)) !important;
}

.bg-gradient-horizontal {
    background-image: linear-gradient(to right, transparent , var(--yellow-layer)) !important;
}

.bg-plain-st {
    background-color: var(--secondary-transparent);
}

